:root {
    --primary-color: #0000C0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.cadastro-page {
    background: url(../../../public/web_images/E-gigante.png) no-repeat, var(--gradient);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-box {
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.logo {
    max-width: 300px;
    margin-bottom: 30px;
}

.cadastro-line {
    width: 100%;
    height: .2rem;
    margin-bottom: .5rem;
    background-color: var(--primary-color);
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    background-color: var(--primary-color);
    padding: .05rem;
    gap: .5rem;
}

.icon {
    width: 4rem;
    padding: .5rem;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    font-size: 1.5rem;
    color: var(--primary-color);
    padding-left: 1rem;
    border: 2px solid var(--primary-color);
    outline: none;
    transition: border-color 0.3s;
}

.cadastro-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.cadastro-btn:hover {
    background-color: #1e1ec4;
}