* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.cadastro-page {
    background: url(/web_images/logo.png) no-repeat, var(--gradient);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#formCadastro {
    display: flex;
    flex-direction: column;
}

.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-box {
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.logo {
    max-width: 300px;
    margin-bottom: 30px;
}

.cadastro-line {
    width: 100%;
    height: .2rem;
    margin-bottom: .5rem;
    background-color: var(--color-primary);
} 
