.button {
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--color-light);
  }
  
  .button-blue {
    background-color: var(--color-primary);
    border: none;
  }
  
  .button-red {
    background-color: var(--color-tertiary);
    border: none;
  }

  .icone-button {
    font-size: 3.2rem;
    color: var(--color-light);
  }