main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 90%;
    margin: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.forms-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

  & h1 {
    display: flex;
    justify-content: space-between;
    color: var(--title-color);
    font-size: 2.5rem;
  }
}

/* Tablet */
@media (max-width: 950px) {
    .forms-container {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
  /* Mobile */
@media (max-width: 650px) {
    .forms-container {
      grid-template-columns: 1fr;
    }
}
  