/* Nova era do automobilismo */
.section-a-nova-era-do-automobilismo {
    width: 70%;
    margin: 4.8rem auto;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card img {
    width: 100%;
    height: 100%;
}

.card .conteudo {
    border: 2px solid var(--color-secondary);
    border-radius: 0 0 5rem 0;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2.4rem;
}

.card .conteudo h1 {
    font-size: 3.2rem;
    color: var(--color-tertiary);
}

.card .conteudo p {
    font-size: 1.6rem;
    color: var(--color-dark);
}

/* Fim nova era do automobilismo */

/* Classificacao */
.section-classificacao {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.lista-pilotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* Fim classificacao */

/* Tablet */
@media (width < 950px) {
    .section-a-nova-era-do-automobilismo {
        width: 90%;
    }

    .lista-pilotos {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Fim tablet */

/* Mobile */
@media (width < 650px) {
    .card {
        grid-template-columns: 1fr;
    }

    .card img {
        width: 100%;
    }

    .lista-pilotos {
        grid-template-columns: 350px;
    }
}

/* Fim mobile */