.categorias {
    height: 100%;
    background-color: var(--color-dark);
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.input {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    width: 100%;
    height: 3rem;
    display: flex;
    background-color: #0000C0;
    gap: .02rem;
}

.icone {
    width: 4rem;
    height: 3rem;
    padding: .5rem;
}  