.card-circuito {
    background-color: var(--color-light);
    border-left: 1rem solid;
    border-image: linear-gradient(to bottom, var(--color-secondary), var(--color-primary)) 1;
    border-radius: 0 0 5rem 0;
    transition: .5s;
}

.card-circuito:hover {
    transform: scale(0.98);
}

.card-circuito img {
    width: 100%;
}

.card-circuito h2 {
    padding: 1rem 2rem;
    font-size: 2.4rem;
    color: var(--color-primary);
}