/* Circuito */

.circuito-container {
    margin: 3rem 0;

    img {
        width: 100%;
    }
}

/* Fim Circuito */

/* Classificação */

.secao-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;

    h1 {
        margin-right: 70rem;
        font-size: 4rem;
        font-family: var(--font);
        font-weight: 600;
        color: var(--color-secondary);
    }

    input {
        border: none;
        padding: .4rem;
    }

    i {
        margin-left: .5rem;
        font-size: 2rem;
    }
}

.classificacao-container {
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Fim Classificação */

/* Mobile */

@media (max-width: 1200px) {
    .circuito-container {
        margin: 3rem 0;
    }

    .secao-container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 3rem;

        h1 {
            margin-right: 0;
        }

        i {
            margin-left: .5rem;
            font-size: 2rem;
        }
    }

    .classificacao-container {
        grid-template-columns: 1fr;
    }
}

/* Fim Mobile */