footer {
    background-color: var(--color-dark);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    color: var(--color-light);
}

.conteudo,
.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;
}

.conteudo {
    padding-bottom: 2.4rem;
    border-bottom: 3px solid var(--color-light);
    flex-wrap: wrap;
}

.conteudo img {
    width: 30rem;
    height: 5rem;
    margin-bottom: 2.4rem;
}

.conteudo p {
    width: 70%;
    font-size: 1.8rem;
}

.lista-footer {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.lista-footer h2 {
    color: var(--title-color);
}

.lista-footer .links {
    text-decoration: none;
    color: var(--color-light);
    transition: .5s;
}

.lista-footer .links:hover {
    color: var(--title-color);
}

.copyright {
    padding-top: 2.4rem;
    font-size: 1.6rem;
    flex-wrap: wrap;
}