/* Define as variáveis de cores e fonte */
:root {
  --font: 'Montserrat', sans-serif;
  --color-light: #E1E6EB;
  --color-dark: #0F172A;
  --color-primary: #22C55E;
  --color-secondary: #27375E;
  --color-tertiary: #ABB8C9;
  --title-color: #FFFFFF;
  --gradient: linear-gradient(90deg, #0F172A 0%, #22C55E 100%);

  /* Cores de equipes */
  --cor-porsche: #d5001c;
  --cor-jaguar: #000;
  --cor-nissan: #c3002f;
  --cor-mclaren: #ff8000;
  --cor-maseratti: #001489;
  --cor-andretti: #ed3124;
  --cor-mahindra: #dd052b;
  --cor-ds-penske: #cba65f;
  --cor-abt: #194997;
  --cor-envision: #00be26;
  --cor-ert: #3c3c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
}